* {
    box-sizing: border-box;
  }

  .nav{
  width: auto;
  height: 90px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  }

  .navdesign{
  font-size: 25px;
  font-weight: bolder;
  }

  .top_nav{
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  .con{
    top: 0px;
    left: 0px;  
    background-color:#FFFFFF;
    background-repeat: cover;
    opacity: 1;
    height:84vh;
    width: 100vw;
  }

  .top_nav_1{
    position: absolute;
  }
  
  .fa-solid{
    position: absolute;
    top: 110px;
    left: 750px;
    width: 50px;
    height: 50px;
    background: none;
  }

  .fa-circle-plus{
  font-size: 35px;
  color: #00A5EC;
  }

  .cards{ 
    display:flex ;
    flex-wrap: wrap; 
    align-items: flex-start;  
    justify-content: space-around;
  }

  .card{
  margin-left:30px ;
  margin-top: 100px;
  width: min(80vw,400px);
  height: min(40vh,200px);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  }
  
  .card:hover{
  top: 596px;
  left: 507px;
  opacity: 1;
  box-shadow: 0px 0px 20px #67676729;
  cursor:none;
  }

  p{
    color: #00A5EC;
     font-size:21px;
     margin-left: 22px;
     margin-top: 20px;
     font-weight: bolder;
  }

  hr{
    background-color: grey;
    opacity: 0.6;
  }

  .check{
         width: 20px;
         height: 20px;
          margin: 15px;
  }

  .data{
    font-size: 19px;
    text-decoration: line-through;
  }

  .c2{
      width: 20px;
      height: 20px;
      margin: 15px;
  }

  a{
    text-decoration: none;
    color:hsl(0,0%,76%) ;
  }

/*###########################################################################*/

  .con1{
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

/*###########################################################################*/
 
.middle{
top: 170px;
left: 10%;
width: 370px;
height: 250px;
position: absolute;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 20px #67676729;
border: 1px solid #EDEDED;
border-radius: 10px;
bottom:0;
}

#input_a{
    margin-left: 10px;
    width:320px;
    height: 30px;
    border: 1px solid rgb(192, 191, 191);
    background-color: rgba(222, 217, 217, 0.2);  
}

.first_1{
    font-size: 20px;
  float: left;
  color: grey;
}

hr{
    background-color: grey;
    opacity: 0.1;
}

.ri{
    float: right;
    position:static;
    margin-top:20px;
    margin-left:25px ;
    width: 50px;
    height: 25px;
}

.box{
    background-color: white;
    border-color: white;
    width: 250px;
    height: 40px;
    padding: 3px;
    margin-top: 50px;
    margin-left: -110px;
    border-radius: 11px;
    border:0px none;
      
}

.btn{
    background-color: #00A5EC;
    color: white;
    float: right;
    text-align: center;
    border-radius: 10px;
    width: 180px;
    height: 45px;
    border-style: none;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 19px;
}

a{
    text-decoration: none;
  color: black;
}

@media (max-width:450px){
    .fa-solid{
        left:180px;
    }
    .middle{
        width:min(200vw,370px);
        left: 10px;
    }
    .con1{
        height: 200vh;
        width: 100vw;
    }
} 
